_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor
_projects/aaa.md
_projects/6_project copy.md
_projects/5_project.md
_projects/4_project.md
_projects/3_project.md
_projects/2_project.md
_projects/1_project.md
assets/img/1.jpg
assets/img/10.jpg
assets/img/11.jpg
assets/img/12.jpg
assets/img/2.jpg
assets/img/3.jpg
assets/img/4.jpg
assets/img/5.jpg
assets/img/6.jpg
assets/img/7.jpg
assets/img/8.jpg
assets/img/9.jpg
assets/img/al-folio-preview.png
assets/img/code-screenshot.png
assets/img/distill-screenshot.png
assets/img/math-screenshot.png
assets/img/pagespeed.svg
assets/img/photos-screenshot.png
assets/img/prof_pic.jpg
assets/img/projects-screenshot.png
assets/img/publications-screenshot.png
assets/img/tsukimichi4.png
assets/resized/tsukimichi4-480x707.png
assets/resized/tsukimichi4-240x354.png
assets/resized/tsukimichi4-120x177.png
assets/resized/prof_pic-800x1067.jpg
assets/resized/prof_pic-480x640.jpg
assets/resized/prof_pic-1400x1867.jpg
assets/resized/9-800x533.jpg
assets/resized/9-480x320.jpg
assets/resized/9-1400x933.jpg
assets/resized/8-800x556.jpg
assets/resized/8-480x334.jpg
assets/resized/8-1400x973.jpg
assets/resized/7-800x533.jpg
assets/resized/7-480x320.jpg
assets/resized/7-1400x933.jpg
assets/resized/6-800x533.jpg
assets/resized/6-480x320.jpg
assets/resized/6-240x160.jpg
assets/resized/6-1400x933.jpg
assets/resized/5-120x80.jpg
assets/resized/5-1400x933.jpg
assets/resized/3-800x533.jpg
assets/resized/5-240x160.jpg
assets/resized/5-480x320.jpg
assets/resized/3-480x320.jpg
assets/resized/6-120x80.jpg
assets/resized/5-800x533.jpg
assets/resized/1-120x80.jpg
assets/resized/1-480x320.jpg
assets/resized/1-240x160.jpg
assets/resized/1-800x534.jpg
assets/resized/10-1400x933.jpg
assets/resized/10-480x320.jpg
assets/resized/10-800x533.jpg
assets/resized/11-120x168.jpg
assets/resized/11-1400x1956.jpg
assets/resized/11-240x335.jpg
assets/resized/11-480x671.jpg
assets/resized/11-800x1118.jpg
assets/resized/12-1400x933.jpg
assets/resized/12-800x533.jpg
assets/resized/12-480x320.jpg
assets/resized/3-120x80.jpg
assets/resized/3-1400x933.jpg
assets/resized/3-240x160.jpg
assets/pdf/example_pdf.pdf
.idea
Gemfile
